<config verbose="yes" prio_levels="2">

	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Nitpicker"/>
		<service name="Rtc"/>
		<service name="Nic"/>
	</parent-provides>

	<default caps="100"/>

	<start name="timer">
		<resource name="RAM" quantum="1M"/>
		<provides><service name="Timer"/></provides>
		<config/>
		<route>
			<service name="ROM" label="platform_info">
				<parent label="platform_info"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="nit_fb" priority="0">
		<resource name="RAM" quantum="8M" />
		<provides>
			<service name="Framebuffer" /> <service name="Input" />
		</provides>
		<config xpos="32" ypos="32" initial_width="-64" initial_height="-64" />
		<route>
			<service name="Nitpicker"> <parent label=""/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="ram_blk" priority="-1">
		<resource name="RAM" quantum="270M" />
		<provides><service name="Block"/></provides>
		<config file="tc-firefox.raw" block_size="512"/>
		<route>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="seoul" priority="-1" caps="200">
		<binary name="seoul"/>
		<resource name="RAM" quantum="1024M"/>
		<route>
			<service name="ROM" label="platform_info">
				<parent label="platform_info"/> </service>
			<service name="Timer">      <child name="timer"/></service>
			<service name="Framebuffer"><child name="nit_fb"/></service>
			<service name="Input">      <child name="nit_fb"/></service>
			<service name="Block">      <child name="ram_blk"/></service>
			<any-service><parent/></any-service>
		</route>
		<configfile name="vm_seoul.cfg"/>
	</start>
</config>
